.desc-text {
  color: rgba(97, 97, 97, 0.65);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.vertical-text {
  color: rgba(11, 12, 17, 0.2);
  font-family: 'League-Spartan', sans-serif;
  opacity: 0.2;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  -webkit-transform: rotate(-90deg) translate(-100%, 0);
          transform: rotate(-90deg) translate(-100%, 0);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
