/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'League-Spartan', sans-serif; */
.shop {
  padding-top: 95px;
  padding-bottom: 110px;
}
.shop-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 80px;
}
.board {
  position: relative;
  width: 350px;
  height: 435px;
}
.board__img-holder {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 320px;
  background-color: #ececec;
}
.board__img {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.board-desc {
  width: 210px;
  position: absolute;
  top: 196px;
  left: 216px;
}
.board__cat {
  color: #7a7a7a;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
.board__title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.26px;
}
.board-buy {
  margin-top: 38px;
  margin-left: 55px;
}
.board-buy__price {
  color: #ce60a8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.1px;
  margin-bottom: 3px;
}
.board-buy__link {
  color: #333333;
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  margin-left: 4px;
}
.shop-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.article--odd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.artcle__desc {
  width: 462px;
  padding-left: 70px;
  padding-right: 50px;
  padding-top: 80px;
}
.article--odd .artcle__desc {
  width: 515px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 515px;
          flex: 0 0 515px;
  padding-left: 75px;
  padding-right: 105px;
}
.article__title {
  color: #333333;
  font-family: "Playfair Display", serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0.42px;
  position: relative;
  margin-bottom: 45px;
}
.article__title:before {
  content: attr(data-number);
  color: #f9f9f9;
  font-family: "League Spartan", sans-serif;
  font-size: 130px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 13px;
  position: absolute;
  left: 0;
  top: -17px;
  z-index: -1;
}
.article__title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 23px;
  height: 2px;
  background-color: #5da8ef;
}
.article__text {
  color: rgba(97, 97, 97, 0.65);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.article__preview {
  width: 762px;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 762px;
          flex: 0 0 762px;
}
.article--odd .article__preview {
  width: 490px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 490px;
          flex: 0 0 490px;
}
.aricle__preview-desc {
  width: 10px;
  height: 10px;
  position: absolute;
  right: -30px;
  top: 0;
}
.article--odd .aricle__preview-desc {
  left: -30px;
  right: auto;
}
.article__preview-desc-content {
  color: rgba(11, 12, 17, 0.2);
  font-family: 'League-Spartan', sans-serif;
  opacity: 0.2;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  -webkit-transform: rotate(-90deg) translate(-100%, 0);
          transform: rotate(-90deg) translate(-100%, 0);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.desc-text {
  color: rgba(97, 97, 97, 0.65);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.vertical-text {
  color: rgba(11, 12, 17, 0.2);
  font-family: 'League-Spartan', sans-serif;
  opacity: 0.2;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  -webkit-transform: rotate(-90deg) translate(-100%, 0);
          transform: rotate(-90deg) translate(-100%, 0);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.subscribe {
  width: 590px;
  margin-top: 50px;
  padding-top: 160px;
  padding-bottom: 75px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.subscribe:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50);
          transform: translate(-50);
  display: block;
  width: 2px;
  height: 100px;
  background-color: #5da8ef;
}
.subscibe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscribe__input {
  color: rgba(51, 51, 51, 0.9);
  font-family: 'League-Spartan', sans-serif;
  font-style: 9px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  width: 540px;
  height: 50px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.03);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.03);
  background-color: #f5f5f5;
  border: 1px solid rgba(97, 97, 97, 0);
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.subscribe__input:active,
.subscribe__input:focus {
  border: 1px solid rgba(97, 97, 97, 0.15);
  outline: none;
}
.subscribe__submit {
  width: 50px;
  height: 50px;
  background-color: #5da8ef;
  background-image: url('../img/controls/subscribe-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  text-indent: 1000px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.subscribe__submit:hover,
.subscribe__submit:focus {
  background-color: #74b4f1;
  outline: none;
}
.subscribe__submit:active {
  background-color: #2f8fea;
  outline: none;
}
.camp {
  min-height: 475px;
  position: relative;
}
.camp__img {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.camp__desc {
  width: 50%;
  padding-top: 105px;
  padding-left: 44px;
}
.camp__label {
  color: rgba(11, 12, 17, 0.27);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.58;
}
.camp__adress {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0.32px;
}
body {
  background-image: url(../img/bg/bg-lines.png);
  background-repeat: repeat-y;
  background-position: center;
  background-size: initial;
  font-family: sans-serif;
  margin-bottom: 500px;
}
.container {
  width: 1224px;
  margin-left: auto;
  margin-right: auto;
}
.relative {
  position: relative;
}
.header {
  position: relative;
  padding-bottom: 90px;
}
.site-desc {
  width: 12px;
  height: 12px;
  position: absolute;
  right: -50px;
  top: 58px;
}
.site-desc__content {
  color: rgba(11, 12, 17, 0.2);
  font-family: 'League-Spartan', sans-serif;
  opacity: 0.2;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  -webkit-transform: rotate(-90deg) translate(-100%, 0);
          transform: rotate(-90deg) translate(-100%, 0);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.header-social {
  width: 20px;
  position: absolute;
  right: -45px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-social__item {
  margin-bottom: 34px;
}
.header-social__item:last-child {
  margin-bottom: 0;
}
.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 128px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo {
  margin-right: 190px;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  font-family: 'League-Spartan', sans-serif;
  font-weight: 700;
}
.navigation__item {
  margin-right: 40px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__link {
  color: #000;
  text-decoration: none;
  color: rgba(11, 12, 17, 0.9);
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.58px;
  font-family: "League Spartan";
}
.slide-wrapper {
  position: relative;
}
.slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.slide-item__desc {
  width: 500px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slide-item__heading {
  color: #0b0c11;
  font-family: 'Playfair Display', serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 15px;
}
.slide-item__heading span {
  color: #5da8ef;
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1px;
  text-transform: uppercase;
  /* Text style for "Y, our" */
  letter-spacing: 5.4px;
  display: block;
  margin-bottom: 20px;
}
.slide-item__text {
  width: 389px;
  color: #8f8f8f;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.slide-item__img {
  /* Style for "img" */
  width: 1016px;
  height: 572px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.2);
          box-shadow: -16px 25px 65px rgba(11, 12, 17, 0.2);
}
.slide-item__img--bg-1 {
  background-image: url(..//img/img/img-header.jpg);
}
.slide-controls {
  position: absolute;
  width: 81px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide-controls-number {
  font-family: 'League-Spartan', sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 5px;
  /* Text style for "5" */
}
.slide-controls-numbers__active {
  color: #5da8ef;
}
.slide-controls-numbers__from {
  color: #ebebeb;
}
.slide-controls-numbers__total {
  color: #262626;
}
.quote {
  padding-top: 95px;
  padding-bottom: 110px;
}
.quote-wrapper {
  width: 610px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.quote-wrapper:after {
  content: "";
  width: 2px;
  height: 100px;
  background-color: #5da8ef;
  position: absolute;
  bottom: -58px;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
.quote__text {
  opacity: 0.9;
  color: rgba(51, 51, 51, 0.9);
  font-family: "Playfair Display";
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.26px;
  margin-bottom: 25px;
}
.quote__author {
  opacity: 0.9;
  color: rgba(51, 51, 51, 0.9);
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1px;
  text-transform: uppercase;
  letter-spacing: 5.4px;
}
.club-description {
  padding-top: 110px;
  padding-bottom: 95px;
}
.club-description-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.club-description-video {
  position: absolute;
  right: 0;
  top: 43px;
  z-index: 1;
}
.club-description-video__control {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 68px;
  height: 68px;
  -webkit-box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
          box-shadow: -2px -2px 35px rgba(0, 0, 0, 0.13);
  background-color: #5da8ef;
  border-radius: 60px;
}
.club-description-video__control img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
}
.club-description__text {
  margin-top: 60px;
  margin-left: 115px;
  width: 340px;
  opacity: 0.65;
  margin-bottom: 45px;
  color: rgba(97, 97, 97, 0.65);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.club-description__link {
  margin-left: 115px;
}
.read-more-link,
a.read-more-link {
  color: #333333;
  text-decoration: none;
  font-family: 'League-Spartan', sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  position: relative;
  padding-bottom: 10px;
}
.read-more-link:after,
a.read-more-link:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  content: "";
  height: 2px;
  background-color: rgba(93, 168, 239, 0.7);
}
.title {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-align: center;
  margin-bottom: 20px;
}
.subtitle {
  display: block;
  color: #5da8ef;
  font-family: "League Spartan";
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5.4px;
}
.title-desc {
  color: rgba(97, 97, 97, 0.65);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-bottom: 35px;
}
